version: "3.9"

services:
  product-service:
    build:
      context: .
      dockerfile: ProductService.API/Dockerfile
    ports:
      - "7001:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - CategoryServiceUrl=http://category-service:8080
    depends_on:
      - category-service
    networks:
      - microservices-network

  category-service:
    build:
      context: .
      dockerfile: CategoryService.API/Dockerfile
    ports:
      - "7002:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    networks:
      - microservices-network

  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: microservices_db
    ports:
      - "5432:5432"
    networks:
      - microservices-network
    volumes:
      - pgdata:/var/lib/postgresql/data

  api-gateway:
    build:
      context: .
      dockerfile: ApiGateway/Dockerfile
    ports:
      - "7000:8080"
    depends_on:
      - product-service
      - category-service
    networks:
      - microservices-network

networks:
  microservices-network:
    driver: bridge

volumes:
  pgdata:
